<!DOCTYPE html>
<html>
    <head>
        <title>AboutUs</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav id="navbar">
      
                <a href="index.html">Home</a>
                <a href="defects.html">Detector</a>
                <a href="aboutus.html">Our Team</a>
   
        </nav>
        <section id="top">
        <h1 class="text-center">Our Team</h1>
        </section>
        
        <section id="goal">
        <p>
            We are five students at Western University who are passionate about Machine Learning and AI.<br>
            We all joined WesternAI for our interest in learning about AI and gaining new skills. 
            The goal of our model is to detect defects in hot-rolled metal with greater than 95% accuracy. 
        </p>
     </section>
        <p> </p>

    </body>
</html>
