<!DOCTYPE html>
<html>
    <head>
        <title>AboutUs</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav id="navbar">
      
                <a href="index.html">Home</a>
                <a href="defects.html">Detector</a>
                <a href="aboutus.html">Our Team</a>
   
        </nav>
        <section id="top">
            <h1 class="text-center">Our Team</h1>
        </section>
        
        <section id="goal">
        <p>
            We are five students at Western University who are passionate about Machine Learning and AI.<br>
            We all joined WesternAI for our interest in learning about AI and gaining new skills. 
            The goal of our model is to detect defects in hot-rolled metal with greater than 95% accuracy. 
        </p>
     </section>
       
     <section id="ourinfo">
            <section id="octavio">
                <h2 >Project Manager</h2>
                <section id='text'>
                <h3>Octavio Diaz</h3>
                <a href="https://www.linkedin.com/in/octavio-diaz2/">
                    <img src="/static/174857.png" height="30px" width="30px"> </a>
                </section>
                </section>
            
            <h2 id="devtitle">Developers</h2>
            <section id="developers">
            <div class="column"> <h3>Tara Lee</h3>
                <a href="https://www.linkedin.com/in/tara-lee-534b41201/">
                    <img src="/static/174857.png" height="30px" width="30px"> </a>
            </div>
            <div class="column"> <h3>Bruce Liu</h3>
                <a href="https://www.linkedin.com/in/bruce-liu-651514202/">
                    <img src="/static/174857.png" height="30px" width="30px"> </a>
            </div>
            <div class="column"> <h3>Rithik Karla</h3>
                <a href="https://www.linkedin.com/in/rithik-kalra-386a7019b/">
                    <img src="/static/174857.png" height="30px" width="30px"> </a>
            </div>
            <div class="column"> <h3>Jack Peplinski</h3>
                <a href="https://www.linkedin.com/in/jack-peplinski/">
                    <img src="/static/174857.png" height="30px" width="30px"> </a>
            </div>
        </section>
        </section>

    </body>
</html>
