<!DOCTYPE html>
<html>
    <head>
        <title>MetalDefectDeclassifier</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand&display=swap" rel="stylesheet">

    </head>

    <body>
        <nav class="navbar">
            <a href="index.html">Home</a>
            <a href="defects.html">Detector</a>
            <a href="aboutus.html">Our Team</a>
            
        </nav>
        <div class='home-head' style ="background-image: url('/static/9.jpeg')">
        
            <h1 >Welcome to Western AI</h1>
            <p>We have created a machine learning model that identifies defects in hot rolled metal.
            </p>
        </div>

        <div class="about">
            <h2>Project Goals</h2><br>
            
            <p><strong>Machine Learning Model: </strong><br><br>
                Train a model that can identify metal defects with >95% accuracy. 
                Training data will only contain microscoped images of rolled metal sheets.
                Use tensorflow sequential model to label model
                <br><br>
                <strong>Deployment:</strong><br><br>
                Deploy a website that can allow users to upload an image in the form of PNG or JPEG, JPG and tell the user whether input is an unaccepted file type.
                present the output of the model in a clear way, describing each defect and its effects on the metal. 
                It should have an aesthetically pleasant appearance. 
                Should contain a list of all the members involved and their LinkedIn profile address
                Show CUCAI paper <br><br>
                <strong>Technologies: </strong><br><br>
                The website will use Flask as its framework, HTML and Bootstrap for its appearance. Javascript will be used to add functionality to the buttons and its appearance. Tensorflow will be used to create the model and the training data will be sourced from Kaggle
                </p>

        </div>
        <div>
            <section id="Footer">
                <div class="footer">
                    <p style="float:right; padding-right:2%; height:1px;">
                        Follow us here:
                    </p>
                </div>
                <div>
                    <section id="copyright">
                    <p>Copyright © 2022 Western All rights reserved.</p>
                    </section>
                    <section id="socials">
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                            <a href="https://www.instagram.com/westernu.ai/?hl=en" class="fa fa-instagram"> </a>
                            <a href="https://www.facebook.com/westernuai/" class="fa fa-facebook"> </a>
                            <a href="https://www.linkedin.com/company/westernuai/?originalSubdomain=ca" class="fa fa-linkedin"> </a>
                    </section>
                </div>
            </section>
        </div>
       
    </body>
</html>
